@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html {
    background: gainsboro;
}

html, body {
    margin: 0;
    height: 100%;
}

body, input, textarea, button {
    font-family: "EB Garamond", "Times New Roman", serif;
}

input, textarea {
    font-size: 1.2rem;
}

#app {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

form, .holder {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-top: 2em;
    font-size: 1.2em;
}

button {
    display: block;
    margin-top: 2em;
    padding: 0.5em;
    background: royalblue;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 32px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
}

h2 {
    margin-top: 0;
}

a {
    color: white;
    font-family: sans;
    text-decoration: none;
}

a:visited {
    color: skyblue;
}

footer {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;
    right: 0;
}

.centered {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.entry{
    background: rgba(255, 255, 255, 0.5);
    margin-top: 3em;
    padding: 2em;
}


.icon {
    height: 0.8rem;
    vertical-align: baseline;
}